<h1>書籍一覧</h1>
<% @books.each do |book| %>
  <li>
      <%= book.name %>
      <%= link_to "詳細", book_path(book) %>
      <%= link_to "編集", edit_book_path(book) %>
  </li>
<% end %>

<%= link_to '新規登録', new_book_path %>


